<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <Identity Name="XboxOneXGame.Scorpio" 
            Version="1.0.0.0" 
            Publisher="CN=Developer" />
  
  <TitleId>00000000</TitleId>
  <MSAAppId>0000000000000000</MSAAppId>
  
  <ExecutableList>
    <Executable Name="XboxOneXGame.exe"
                TargetDeviceFamily="XboxOne"
                Id="Game"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="Xbox One X Scorpio Game"
                PublisherDisplayName="Game Developer"
                StoreLogo="Assets\StoreLogo.png"
                Square150x150Logo="Assets\Logo.png"
                Square44x44Logo="Assets\SmallLogo.png"
                Description="Xbox One X Scorpio Enhanced Game"
                ForegroundText="light"
                BackgroundColor="#000000"/>
  
  <!-- Xbox One X Scorpio Enhanced Features -->
  <Extensions>
    <Extension Category="windows.xbox.gaming">
      <XboxOneXEnhanced>true</XboxOneXEnhanced>
      <Support4K>true</Support4K>
      <SupportHDR>true</SupportHDR>
      <SupportsVariableRefreshRate>true</SupportsVariableRefreshRate>
    </Extension>
  </Extensions>
</Game>